@font-face{
    font-family: 'PassionSansPDag-Regular';
    src: url('fonts/PassionSansPDag-Regular.ttf');
}

@font-face{
    font-family: 'electroharmonix';
    src: url('fonts/electroharmonix.ttf');
}

@font-face{
    font-family: 'Jaycons';
    src: url('fonts/Jaycons.ttf');
}

@font-face{
    font-family: 'LaOriental';
    src: url('fonts/LaOriental.otf');
}

@font-face{
    font-family: 'NotoSansSinhala-Regular';
    src: url('fonts/NotoSansSinhala-Regular.ttf');
}

@font-face{
    font-family: '4u-Bindumathi';
    src: url('fonts/4u-Bindumathi.ttf');
}

body{
    font-family: PassionSansPDag-Regular;
}
